.header {
  height: 65px;
  background: white;
  border-bottom: 1px solid #e5e5e5;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 240px;
  box-sizing: border-box;
}
